@import-normalize;
/* bring in normalize.css styles */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f8f9fa;
}

h1,
h2,
h3,
p {
  margin: 0;
  padding: 0;
}

.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
  width: 420px;
  background-color: #dee2e6;
  padding: 24px 48px;
  border-radius: 12px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  gap: 8px;

  color: #050505;
  font-family: Inter, sans-serif;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.28;
  text-transform: uppercase;
}

.btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.btn {
  border: none;
  outline: none;
  background-color: transparent;
  background-color: red;
  padding: 8px 24px;
  border-radius: 16px;
  transition: all 0.2s;
  cursor: pointer;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3);

  color: #F8F8F8;
  font-family: Inter, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: normal;
}

.btn-good {
  background-color: #2f9e44;
  transition: 0.3s;
}

.btn-good:hover {
  background-color: #34b04b;
  transition: 0.4s ease-in-out;
}

.btn-neutral {
  background-color: #fb9301;
}

.btn-neutral:hover {
  background-color: #fc9d19;
  transition: 0.4s ease-in-out;
}

.btn-bad {
  background-color: #e03131;
}

.btn-bad:hover {
  background-color: #f24343;
  transition: 0.4s ease-in-out;

}

.btn:active {
  transform: translateY(2px);
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
}